<%- include('header') %>
    <div class="container-fluid">


        <div class="row justify-content-md-center rowLogin">
            <!-- sx col -->
            <div class="col col-lg-3">
            </div>

            <!-- center col -->
            <div class="col col-lg-6 login">
                <form class="text-center" action="/login" method="POST">

                    <div class="form-outline mb-4">
                        <span class="fas fa-user">
                            <input class=" form-control inputLogin" type="email" placeholder="Email" id="email" name="email"/>
                            <label class="form-label" for="email">Email address</label>
                        </span>
                    </div>

                    <div class="form-outline mb-4">
                        <span class="fas fa-lock">
                            <input class="form-control inputLogin" type="password" placeholder="Password" id="password" name="password"/>
                            <label class="form-label" for="password">Password</label>
                        </span>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <div class="text-center">
                        <p>Not a member? <a href="/register">Register</a></p>
                    </div>
                </form>

                <% if(error != null){ %>
                    <p class="text-danger">
                        <%= error %>
                    </p> 
                <% } %>

            </div>

            <!-- dx col -->
            <div class="col col-lg-3">
            </div>

        </div>
    </div>
    <%- include('footer') %>