<%- include('header') %>
<div class="container-fluid">
    <h1 class="h1Title">Register</h1>

    <div class="row text-center">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <form action="/register" method="POST">
                <div class="mb-4">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First name" required>
                </div>

                <div class="mb-4">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" name="lastName" placeholder="Last name" id="lastName" required>
                </div>
                
                <div class="mb-4">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email" id="email" required>
                </div>
                
                <div class="mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
                </div>

                <div class="mb-4">
                    <label for="repeatPassword">Repeat password</label>
                    <input type="password" class="form-control" name="repPassword" placeholder="repeat password" id="repeatPassword" required>
                </div>

                <div class="mb-4">
                    <button type="submit" title="register" class="btn btn-block btn-primary mb-4">Register</button>
                </div>
            </form>

            <% if(error != null){ %>
                <p class="text-danger">
                    <%= error %>
                </p> 
            <% } %>

        </div>
        
        <div class="col-md-2"></div>
    </div>
        

</div>
<%- include('footer') %>