<%- include('header') %>
<div class="register">
    <h1>Register</h1>

    <form action="/register" method="POST">
        <input type="text" name="firstName" placeholder="First name" id="firstName" required>
        <input type="text" name="lastName" placeholder="Last name" id="lastName" required>
        <input type="text" name="email" placeholder="Email" id="email" required>
        
        <input type="password" name="password" placeholder="Password" id="password" required>
        <input type="password" name="repPassword" placeholder="repeat password" id="repeatPassword" required>

        <button type="submit" title="register" class="btn btnColor mb-4">Register</button>
    </form>
        
    <% if(error != null){ %>
        <p class="text-danger">
            <%= error %>
        </p> 
    <% } %>
</div>
<%- include('footer') %>