<%- include('header') %>
<div class="register">
    <h1>Room <%= name %></h1>

    <p>ROOM CAPACITY: <% capacity %></p>

    <% if(error != null){ %>
        <p class="text-danger">
            <%= error %>
        </p> 
    <% } %>
</div>
<%- include('footer') %>