<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>ROOMS</title>

	</head>
	<body>
		<div class="register">
			<h1>Rooms</h1>

                <ul>
                    <% for(var i=0; i<rooms.length; i++) {%>
                        <div style="width:100px;height:100px;background-color:yellow">
                            <%= rooms[i].name %></br>
                            <%= rooms[i].capacity %>
                        </div>
                    <% } %>
                </ul>

                <% if(error != null){ %>
                    <p>
                        <%= error %>
                    </p> 
                <% } %>
		</div>
	</body>
</html>