
.bordifica {
    border: solid 5px yellow;
}

/**
* LOGIN
*/
.rowLogin {
    margin-top: 10%;
}

.inputLogin {
    margin-top:4px;
    margin-bottom:4px;
}

.login {
    max-width:500px;
}

/**
* HEADER
*/
.displayAdminConsole {
    display:none;
}

/**
* FOOTER
*/
.footer-stl {
    position:absolute;
    width:100%;
    bottom:0;
}

.footer-snd {
    background-color: rgba(0, 0, 0, 0.2);
}