
.bordifica {
    border: solid 5px yellow;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.Site-content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}
  
.h1Title {
    text-align: center;
    margin-top:20px;
}

/**
* LOGIN
*/
.rowLogin {
    margin-top: 10%;
}

.inputLogin {
    margin-top:4px;
    margin-bottom:4px;
}

.login {
    max-width:500px;
}

/**
* ROOMS
*/

.colRoom {
    min-height: 150px;
}

.colRoomElement {
    text-align: center;
    display: block;
    height: 90%;
    margin-top: 5px;
    border-radius: 25px;
    color:black;
    background-color: #e4ecd7;
}

.pRoomElement {
    height: 100%;
    padding-top: 25px;
}

/**
* HEADER
*/
.displayAdminConsole {
    display:none;
}

/**
* FOOTER
*/

.footer-snd {
    background-color: rgba(0, 0, 0, 0.2);
}